<div class="mx-8 mt-4">
  <h2 class="text-2xl font-bold mb-4">Reservations</h2>

  <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
    <thead class="text-white">
      <tr  *ngFor="let reservation of reservations"class="bg-gray-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
        <th class="p-3 text-left">Slot</th>
        <th class="p-3 text-left">Price</th>
        <th class="p-3 text-left">Date</th>
        <th class="p-3 text-left">Start Hour</th>
        <th class="p-3 text-left">End Hour</th>
        <th class="p-3 text-left">Status</th>
        <th class="p-3 text-left" width="110px">Actions</th>
      </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
      <tr *ngFor="let reservation of reservations" class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
        <td class="border-grey-light border hover:bg-gray-100 p-3">{{ reservation.slot.number }}</td>
        <td class="border-grey-light border hover:bg-gray-100 p-3">${{ reservation.price || 0 }}</td>
        <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{ reservation.date }}</td>
        <td class="border-grey-light border hover:bg-gray-100 p-3">{{ reservation.start_hour }}</td>
        <td class="border-grey-light border hover:bg-gray-100 p-3">{{ reservation.end_hour }}</td>
        <td class="border-grey-light border hover:bg-gray-100 p-3">
          <span class="px-2 py-1 rounded-full bg-gray-500 text-white">{{ reservation.status || 'N/A' }}</span>
        </td>
        <td class="flex lg:flex-col gap-4 text-center text-white md:text-center border-grey-light border hover:bg-gray-100 p-3 hover:font-medium cursor-pointer">
          <button (click)="checkIn(reservation)" *ngIf="reservation?.status == 'active'" class="rounded-lg bg-blue-400 hover:text-blue-600 hover:font-medium px-4">Check In</button>
          <!-- check out button -->
          <button *ngIf="reservation?.check_in && !reservation?.check_out" (click)="checkOut(reservation)" class="rounded-lg bg-yellow-400 hover:text-green-600 hover:font-medium px-4">Check Out</button>
          <button (click)="cancelReservation(reservation)" *ngIf="!reservation?.check_in && reservation?.status == 'active'"  class="rounded-lg bg-red-400 hover:text-red-600 hover:font-medium px-4">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
