<table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
  <thead class="text-white">
    <tr *ngFor="let user of users" class="bg-gray-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
      <th class="p-3 text-left">Name</th>
      <th class="p-3 text-left">Email</th>
    </tr>
  </thead>
  <tbody class="flex-1 sm:flex-none">
    <tr *ngFor="let user of users" class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
      <td class="border-grey-light border hover:bg-gray-100 p-3">{{ user.name }}</td>
      <td class="border-grey-light border hover:bg-gray-100 p-3 truncate">{{ user.email }}</td>
    </tr>
  </tbody>
</table>
