<div class="container mx-auto p-8">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-bold mb-4">Parking Slots</h1>
    <a *ngIf="admin" href="/slots/create" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Add Slot</a>
    <form *ngIf="!admin" class="flex gap-2">
      <input value="{{currentDate}}" type="date" name="date" class="border border-gray-300 rounded-lg px-4 py-2" />
      <select formControlName="hour" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        <option value="">Hour</option>
        <option *ngFor="let hour of hours" value="{{hour}}">{{hour}}</option>
      </select>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Search</button>
    </form>
  </div>

  <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-3" *ngIf="showSlots">
    <!-- Loop through slots -->
    <div *ngFor="let slot of slots" [ngClass]="{
      'bg-[#7cd65d] cursor-pointer': slot.status === 'available',
      'bg-[#ff3f50] text-white': slot.status === 'occupied',
      'border-dashed border-4 border-[#d0dae3] text-[#d0dae3]': slot.status === 'unavailable'
      }" class="relative lg:w-32 w-24 lg:h-56 h-32 font-bold rounded-lg flex items-center justify-center mb-4">
      P{{ slot.number }}

      <a *ngIf="admin" href="/slots/{{slot.id}}/edit" class="absolute top-2 right-2 cursor-pointer text-blue-500 hover:text-gray-700 font-normal text-sm">Edit</a>
    </div>
  </div>

  <!-- if slots not avaiable -->
  <div *ngIf="!showSlots" class="text-center">
    <p class="text-lg">No slots available</p>
  </div>
</div>
