<div class="mx-auto flex h-screen max-w-lg flex-col md:max-w-none md:flex-row justify-center md:pr-10">
  <form [formGroup]="signUpForm" (ngSubmit)="handleForm()" class="px-4 py-20">
    <div *ngIf="signUpPage">
      <h2 class="mb-2 text-3xl font-bold">Sign Up</h2>
      <a href="/login" class="mb-10 block font-bold text-gray-600">Have an account? Login</a>
    </div>
    <h2 *ngIf="customerPage" class="mb-10 text-3xl font-bold">Create Customer</h2>
    <h2 *ngIf="adminPage" class="mb-2 text-3xl font-bold">Create Admin</h2>
    <p class="mb-1 font-medium text-gray-500">Name</p>
    <div class="mb-4 flex flex-col">
      <div class="focus-within:border-blue-600 relativeflex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
        <input formControlName="name" type="text" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Enter your name" />
      </div>
    </div>
    <p class="mb-1 font-medium text-gray-500">Email</p>
    <div class="mb-4 flex flex-col">
      <div class="focus-within:border-blue-600 relativeflex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
        <input formControlName="email" type="email" id="signup-email" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Enter your email" />
      </div>
    </div>
    <p class="mb-1 font-medium text-gray-500">Password</p>
    <div class="mb-4 flex flex-col">
      <div class="focus-within:border-blue-600 relative flex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
        <input formControlName="password" type="password" id="signup-password" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Choose a password (minimum 8 characters)" />
      </div>
    </div>
    <button class="hover:shadow-blue-600/40 rounded-xl bg-gradient-to-r from-blue-700 to-blue-600 px-8 py-3 font-bold text-white transition-all hover:opacity-90 hover:shadow-lg">{{ signUpPage ? 'Sign Up' : 'Create' }}</button>
  </form>
</div>
